In [1]:
import pandas as pd
import logging

# Log fayl manzili
log_path = r"C:\Users\Rasulbek907\Desktop\SML_2_Pr\Log\preprocessing.log"

# Log sozlamalari
logging.basicConfig(
    filename=log_path,
    filemode='a',  # Append mode
    format='%(asctime)s - %(levelname)s - %(message)s',
    level=logging.INFO
)

try:
    logging.info("CSV fayl o'qilmoqda: data_merged.csv")
    df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\SML_2_Pr\Data\raw_data\Merge_meal.csv")
    logging.info(f"Fayl muvaffaqiyatli o'qildi. SatÄ±rlar soni: {len(df)} ustunlar soni: {len(df.columns)}")
except Exception as e:
    logging.error(f"CSV faylni o'qishda xatolik: {e}")

In [2]:
df.head()

,Unnamed: 0.1,Unnamed: 0,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,category,cuisine
0,0,0,1379560,1,55,1885,136.83,152.29,0,0,177.0,Main Course,Chinese
1,1,1,1466964,1,55,1993,136.83,135.83,0,0,270.0,Sandwich,Indian
2,2,2,1346989,1,55,2539,134.86,135.86,0,0,189.0,Rice Bowl,Indian
3,3,3,1338232,1,55,2139,339.50,437.53,0,0,54.0,Soup,Mexican
4,4,4,1448490,1,55,2631,243.50,242.50,0,0,40.0,Snack,Continental

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489121 entries, 0 to 489120
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0.1           489121 non-null  int64
 1   Unnamed: 0             489121 non-null  int64
 2   id                     489121 non-null  int64
 3   week                   489121 non-null  int64
 4   center_id              489121 non-null  int64
 5   meal_id                489121 non-null  int64
 6   checkout_price         489121 non-null  float64
 7   base_price             489121 non-null  float64
 8   emailer_for_promotion  489121 non-null  int64
 9   homepage_featured      489121 non-null  int64
 10  num_orders             456548 non-null  float64
 11  category               489121 non-null  object
 12  cuisine                489121 non-null  object
dtypes: float64(3), int64(8), object(2)
memory usage: 48.5+ MB

In [7]:
import sys
import os

In [8]:

sys.path.append(os.path.abspath("../Source"))

In [9]:
import sys
print(sys.executable)

c:\Users\Rasulbek907\Desktop\SML_2_Pr\myvenv\Scripts\python.exe

In [10]:
from preprocessing import Cleaner, Encoder, Scaler

In [11]:
cleaner = Cleaner(df)
df = cleaner.tozala().get_df()

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489121 entries, 0 to 489120
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0.1           489121 non-null  int64
 1   Unnamed: 0             489121 non-null  int64
 2   id                     489121 non-null  int64
 3   week                   489121 non-null  int64
 4   center_id              489121 non-null  int64
 5   meal_id                489121 non-null  int64
 6   checkout_price         489121 non-null  float64
 7   base_price             489121 non-null  float64
 8   emailer_for_promotion  489121 non-null  int64
 9   homepage_featured      489121 non-null  int64
 10  num_orders             489121 non-null  float64
 11  category               489121 non-null  object
 12  cuisine                489121 non-null  object
dtypes: float64(3), int64(8), object(2)
memory usage: 48.5+ MB

In [13]:
encoder = Encoder(df)
df = encoder.encodla().get_df()

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489121 entries, 0 to 489120
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0.1           489121 non-null  int64
 1   Unnamed: 0             489121 non-null  int64
 2   id                     489121 non-null  int64
 3   week                   489121 non-null  int64
 4   center_id              489121 non-null  int64
 5   meal_id                489121 non-null  int64
 6   checkout_price         489121 non-null  float64
 7   base_price             489121 non-null  float64
 8   emailer_for_promotion  489121 non-null  int64
 9   homepage_featured      489121 non-null  int64
 10  num_orders             489121 non-null  float64
 11  category               489121 non-null  int64
 12  cuisine                489121 non-null  int64
dtypes: float64(3), int64(10)
memory usage: 48.5 MB

In [15]:
scaler = Scaler(df)
df = scaler.scaling_qil().get_df()

In [16]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489121 entries, 0 to 489120
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0.1           489121 non-null  float64
 1   Unnamed: 0             489121 non-null  float64
 2   id                     489121 non-null  float64
 3   week                   489121 non-null  float64
 4   center_id              489121 non-null  float64
 5   meal_id                489121 non-null  float64
 6   checkout_price         489121 non-null  float64
 7   base_price             489121 non-null  float64
 8   emailer_for_promotion  489121 non-null  float64
 9   homepage_featured      489121 non-null  float64
 10  num_orders             489121 non-null  float64
 11  category               489121 non-null  float64
 12  cuisine                489121 non-null  float64
dtypes: float64(13)
memory usage: 48.5 MB

In [17]:
df.to_csv(r"C:\Users\Rasulbek907\Desktop\SML_2_Pr\Data\data_preprocessing\Preprocessed.csv", index=False)